/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

html {
    height: 100%;
}

body {
    /* width: 100%;
    min-height: 100%;
    display: block; */
    box-sizing: border-box;
    overflow: hidden;
}
